/* =========================
   RESET
========================= */

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;
}


/* =========================
   BODY
========================= */

body {

    background: #111118;

    color: white;

    font-family: Arial, sans-serif;

    overflow: hidden;
}

/* =========================
   TOP BAR
========================= */

.top-bar {

    height: 70px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 30px;

    background:
        rgba(0,0,0,0.45);

    backdrop-filter: blur(10px);

    border-bottom:
        1px solid rgba(255,255,255,0.06);

    z-index: 9999;

    position: relative;
}

/* CLOCK */

#clock {

    font-size: 52px;

    font-weight: bold;

    color: lime;
}


/* STATUS */

.status-icons {

    display: flex;

    gap: 18px;

    font-size: 20px;

    color: #ddd;
}


/* =========================
   FLOATING MENU
========================= */

.floating-menu {

    position: absolute;

    right: 25px;

    bottom: 130px;

    display: flex;

    flex-direction: column;

    gap: 15px;

    z-index: 6000;
}

/* BUTTONS */

.floating-menu button {

    width: 65px;

    height: 65px;

    border-radius: 20px;

    border: none;

    background:
        rgba(0,0,0,0.55);

    backdrop-filter: blur(10px);

    color: white;

    font-size: 28px;

    cursor: pointer;

    transition: 0.3s;
}

.floating-menu button:hover {

    background:
        rgba(255,255,255,0.14);

    transform: scale(1.05);
}

/* GLOBAL ANIMATIONS */