<div id="apps-menu" class="active">

    <!-- YOUTUBE MUSIC -->

    <div class="app-card"
         onclick="openInternalApp('youtube')">

        🎵

        <span>YouTube Music</span>

    </div>

    <!-- SPOTIFY -->

    <div class="app-card"
         onclick="openInternalApp('spotify')">

        🎧

        <span>Spotify</span>

    </div>

    <!-- RADIO -->

    <div class="app-card">

        📻

        <span>Radio</span>

    </div>

    <!-- WEATHER -->

    <div class="app-card">

        🌦️

        <span>Weather</span>

    </div>

    <!-- VEHICLE -->

    <div class="app-card">

        🚗

        <span>Vehicle</span>

    </div>

    <!-- CAMERA -->

    <div class="app-card">

        📷

        <span>Cameras</span>

    </div>

</div>